* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    }

img {
    display: block;
}
    
.nav {
    display: flex;
    align-items: center;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}


.container {
    width: 1158px; 
    margin: 0 auto;
    padding: 0 15px;
   }


/*************** NAGŁÓWEK ******************/

.header {
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    display: flex;

}

.flex-header {    
    justify-content: space-between;
    display: flex;
    
                
} 

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    align-items: center;
    display: flex;
}

.web-logo {
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    text-decoration: none;
}

.studio-logo {
    color: #2e2f42;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.link-in-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    text-decoration: none;
    text-transform: capitalize;
}

.link-in-header:hover {
    color: #404bbf;
}

.link-in-header:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    display: flex;
}

.address-class {
    list-style: none;
    display: flex;
    gap: 40px;
}

.address-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    text-decoration: none;
}

.address-list:hover {
    color: #404bbf;
}

.address-list:focus {
    color: #404bbf; 
}

/*************** NAGŁÓWEK KONIEC **************/




/************* SEKCJA NR 1 ******************/

.section-one-css {
    background-color: #2e2f42;
    padding: 188px 0;

   
}

.head-one-css {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;

}

.button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    align-items: center;
    margin: 0 auto;

}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}

/************* SEKCJA NR 1 KONIEC ******************/



/************* SEKCJA NR 2 ******************/

.visually-hidden {  
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0;   
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden;
}


.head-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}



.section-two-css {
    padding: 120px 0;
 }


.list-item-section-two {
    gap: 24px;
    width: calc((100% - 72px) / 4);
    list-style-type: none;
    justify-content: space-between;
} 

.section-two-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.list-second-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/************* SEKCJA NR 2 KONIEC ******************/




/************* SEKCJA NR 3 ******************/

.section-third-css {
    background-color: #f4f4fd;
    padding: 120px 0;
    justify-items: center;

}

.section-third-list {
    list-style: none;
    display: flex;
    gap: 24px;
 }

.head-section-third {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.listitem {
    background-color: white;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; 

}

.name-div {
    padding: 32px 0px;



}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

} 

/************* SEKCJA NR 3 KONIEC ******************/


/************* SEKCJA NR 4 ******************/

.head-fourth {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-fourth-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-fourth-css {
    padding-top: 120px;
    padding-bottom: 120px;
}

.listitem-fourth {
    width: calc((100% - 48px) / 3);
}

.second-name-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
                
}

.name-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.div-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/************* SEKCJA NR 4 KONIEC ******************/

/*************** STOPKA *****************/

.footer {
    background-color: #2e2f42;
    padding: 100px 0;

}

.p-footer {
    color:#f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;

}

.web-logo-footer {
    color: #4d5ae5;
    margin-right: 76px;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.studio-logo-footer {
    color: #f4f4fd;
}



/*************** STOPKA KONIEC *****************/